.lq-content {
    min-height: 70vh;
    max-width: 800px;
    margin: auto;
}

.box {
    margin-bottom: 5px;
}

.vote-box {
    display: flex;
    flex-direction: column;
    min-width: 25px;
}

.vote-divider {
    height: 10px;
}