
:root {
    --main-bg-color: #fffbe5;
    --main-text-color: #393939;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

body {
    /*font-family: 'Droid Serif', serif;*/
    /*font-size: 14px;*/
    color: var(--main-text-color);
    background-color: var(--main-bg-color);

    max-width: 1200px;
    margin: auto;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [header-start] 100px [subheader-start] 40px [menu-start] 40px [content-start]  auto [footer-start] 80px;

}
.head {
    grid-row: header-start;
    grid-column: 1;
}

.subheader {
    grid-row: subheader-start;
    text-align: center;
    font-weight: 600;
    border-bottom: #2f2f2f 1px solid;
    border-top: #2f2f2f 1px solid;
    line-height: 40px;
    grid-column: 1;
    text-transform: uppercase;
}

.menu {
    grid-row: menu-start;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
    grid-column: 1;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /*font-family: 'Bebas Neue', cursive;*/
    font-size: 2rem;
}

.menu-div:before {
    content: "-";
}

.menu-item.is-active {
    text-decoration: underline;
}


.content {
    grid-row: content-start;
    grid-column: 1;
    margin-top: 10px;
}

.footer {
    grid-row: footer-start;
    grid-column: 1;
    border-top: #2f2f2f 1px solid;
}
.section {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 100px;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .title {
        font-size: 40px;
        line-height: 60px;
    }
}

@media screen and (max-width: 640px) {
    .last_publish_date {
        display: none;
    }

    .tilde_title {
        display: none;
    }
}

