{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Liquidemos</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/a3b2a1d571.js" crossorigin="anonymous"></script>

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <script src="{% static 'js/navbar.js' %}" crossorigin="anonymous"></script>

</head>

<body>
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}
</body>

</html>