<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="is-size-4">
                    Liquidemos
                    <span class="is-size-6 has-text-danger-dark has-text-weight-light">POC</span>
                </h1>
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
                <a class="navbar-item" href={% url 'project_list' %}>
                    Projects
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    {% if not user.is_authenticated %}
                        <div class="buttons">
                            <a class="button is-primary">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light">
                                Log in
                            </a>
                        </div>
                    {% else %}
                        <div class="buttons">
                            <a class="button is-primary" title="{{ user }} account">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-user-circle"></i>
                                    </span>
                                <span>{{ user }}</span>
                                </span>
                            </a>
                            <a class="button" title="Logout">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </span>
{#                                <span>logout</span>#}
                                </span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
