{% extends 'base.html' %}

{% block content %}
    <div class="lq-content">
        <div class="section">
            {% if filter_tags %}
                <div class="subtitle">Projects with tag{{ filter_tags|pluralize }} :
                    {% for tag in filter_tags %}
                        <a href="?tags={{ tag }}" class="tag is-info is-light is-medium">
                            {{ tag }}
                        </a>
                    {% endfor %}
                    <a class="is-link is-size-7" href={% url 'project_list' %}>remove filtering</a>
                </div>
            {% endif %}
            {% for project in page_obj %}
                <a class="has-text-grey-dark" href={% url "project_detail" slug=project.slug %}>
                    {% include 'projects/project_card.html' %}
                </a>
            {% endfor %}

            {% include 'utils/pagination.html' %}
        </div>
    </div>
{% endblock %}
