{% extends 'base.html' %}

{% block content %}
    <div class="lq-content">
        {% include 'utils/breadcrumb.html' %}
        <div class="section">
            <h1 class="title">{{ project.name }}</h1>
            <p class="subtitle">{{ project.description }}</p>
        </div>

        {% if paginator.count %}
            <h4 class="title is-4">Propositions: </h4>
            {% for project in page_obj %}
                <a class="has-text-grey-dark" href={% url "project_detail" slug=project.slug %}>
                    {% include 'projects/project_card.html' %}
                </a>
            {% endfor %}

            {% include 'utils/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}