{% extends 'base.html' %}

{% block content %}
    <div class="lq-content">

        <form method="get" action='#'>
            <label for="search">Search</label>
                <input id='search' class="input" type="text" name="search"/>
            <p><input class="button is-primary" type="submit" value="submit"/>
        </form>
        <div class="section">
            {% if filter_tags %}
                <div class="subtitle">Projects with tag{{ filter_tags|pluralize }} :
                    {% for tag in filter_tags %}
                        <a href="?tags={{ tag }}" class="tag is-info is-light is-medium">
                            {{ tag }}
                        </a>
                    {% endfor %}
                    <a class="is-link is-size-7" href={% url 'project_list' %}>remove filtering</a>
                </div>
            {% endif %}
            {% for project in page_obj %}
                <a class="has-text-grey-dark" href={% url "project_detail" slug=project.slug %}>
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ project.name }}</strong>
                                        <small>by {{ project.created_by }}</small>
                                        <small class="has-text-grey-light">,{{ project.created_at }}</small>
                                        {% if project.from_proposition %}
                                            <small class="is-italic">
                                                <br>
                                                Child of project
                                                <a href={% url 'project_detail' slug=project.from_proposition.project.slug %}>
                                                    {{ project.from_proposition.project.name }}
                                                </a>
                                                .
                                            </small>
                                        {% endif %}
                                        <br>
                                    <div>
                                        {% for tag in project.tags.all %}
                                            <a href="?tags={{ tag }}" class="tag is-info is-light">
                                                {{ tag }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <br>
                                    {{ project.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            {% endfor %}

            {% include 'utils/pagination.html' %}
        </div>
    </div>
{% endblock %}
