<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content" style="display: flex; flex-direction: row">
                <div class="vote-box">
                    <div class="upvotes">{{ project.upvotes }}</div>
                    <div class="vote-divider"></div>
                    <div class="downvotes">{{ project.downvotes }}</div>
                </div>
                <div>
                    <strong>{{ project.name }}</strong>
                    <small>by {{ project.created_by }}</small>
                    <small class="has-text-grey-light">,{{ project.created_at }}</small>

                    <div class="mt-1 mb-1">
                        {% for tag in project.tags.all %}
                            <a href="?tags={{ tag }}" class="tag is-info is-light">
                                {{ tag }}
                            </a>
                        {% endfor %}
                    </div>

                    <p class="text is-size-6"> {{ project.description|truncatewords:40 }}</p>
                </div>
            </div>
        </div>
    </article>
</div>