{% extends 'base.html' %}

{% block content %}

    <div class="lq-content">
        <div class="section">
            <h1 class="title">{{ proposition.name }}</h1>

            <h5 class="title is-5">Original propositon: </h5>
            <p>{{ original_alt.content|truncatewords:200 }}</p>

            <div class="dropdown-divider"></div>
            {% if page_obj.object_list.count > 1 %}
                <h4 class="title is-4">Alternatives: </h4>
                <div class="section">
                    {% for alternative in page_obj %}
                        <div class="box">
                            <small>by {{ alternative.created_by }}</small>
                            <small class="has-text-grey-light">,{{ alternative.created_at }}</small>
                            <div class="dropdown-divider"></div>
                            <p> {{ alternative.content|truncatewords:50 }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="has-text-grey is-italic has-background-light">There is no alternatives for this
                    proposition.</p>
            {% endif %}
        </div>
        {% include 'utils/pagination.html' %}
    </div>
{% endblock %}
