<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        {# PARENTS            #}
        {% if project.parents.count < 4 %}
            {% for parent in project.parents %}
                <li><a href={% url 'project_detail' slug=parent.slug %}>{{ parent.name }}</a></li>
            {% endfor %}
        {% else %}
            {% for parent in project.parents %}
                {% if forloop.counter == 1 %}
                    <li><a href={% url 'project_detail' slug=parent.slug %}>{{ parent.name }}</a></li>
                    <li>...</li>
                {% endif %}
                {% if forloop.revcounter < 3 %}
                    <li><a href={% url 'project_detail' slug=parent.slug %}>{{ parent.name }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}

        {# ACTUAL            #}
        <li class="is-active"><a href="#">{{ project.name }}</a></li>
    </ul>
</nav>