{% block pagination %}

    <div class="section">
        <nav class="pagination is-centered  is-small"
             role="navigation"
             aria-label="pagination">

            {# next button #}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">Previous</a>
            {% endif %}

            {# previous button #}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">Next page</a>
            {% endif %}

            {% if paginator.num_pages > 1 %}
                <ul class="pagination-list">

                {# first and previous pages #}
                {% if page_obj.has_previous %}
                    <li><a href="?page=1" class="pagination-link" aria-label="Goto page 1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% if page_obj.previous_page_number != 1 %}
                        <li><a href="?page={{ page_obj.previous_page_number }}"
                               class="pagination-link"
                               aria-label="Goto page {{ page_obj.previous_page_number }}">
                            {{ page_obj.previous_page_number }}
                        </a></li>
                    {% endif %}
                {% endif %}

                {# current page #}
                <li><a class="pagination-link is-current" aria-label="Page {{ page_obj.number }}"
                       aria-current="page">{{ page_obj.number }}</a></li>

                {# last and next pages #}
                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number != paginator.num_pages %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="pagination-link"
                               aria-label="Goto page {{ page_obj.next_page_number }}">
                            {{ page_obj.next_page_number }}</a></li>
                    {% endif %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>

                    <li><a href="?page={{ paginator.num_pages }}"
                           class="pagination-link"
                           aria-label="Goto last page">
                        {{ paginator.num_pages }}
                    </a></li>
                {% endif %}
            {% endif %}

            </ul>
        </nav>
    </div>

{% endblock %}
